/* Large Devices (Desktops & Laptops) */

@media (min-width: 1200px) and (max-width: 1299px) {
 
}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {

}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 100%;
  }
  .formContainer {
    width: 100%;
  }
  .form {
    width: 85%;
    box-shadow: 10px 70px 100px -21px;
  }
  .footer {
    flex-direction: column;
  }
  .logo {
    margin: 10px 0;
  }
}


/* Extra Small Devices (Landscape Phones & Portrait Tablets) */

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
  .formContainer {
    width: 100%;
  }
  .form {
    width: 85%;
    box-shadow: 10px 70px 100px -21px;
  }
  .footer {
    flex-direction: column;
  }
  .logo {
    margin: 10px 0;
  }
}


/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 480px) {
  .container {
    max-width: 100%;
  }
  .formContainer {
    width: 100%;
  }
  .form {
    width: 85%;
    box-shadow: 10px 70px 100px -21px;
  }
  .footer {
    flex-direction: column;
  }
}


/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 320px) {
  
}